{% extends 'base.html.twig' %}

{% block title %}Le meilleur réseau d'appartements Abidjan!{% endblock %}

{% block body %}

 
<div class="container-fluid">
    

<div class="container-fluid mt-3">
    <div class="jumbotron">
        <h1 class="display-3">Bienvenue sur Symbnb</h1>
        <p class="lead">Nous mettons en relation les votageurs et propriétaires qui veulent profiter d'opportuniter de faire de l'argent en proposant leur bien en location.</p>
        <hr class="my-4">
        <p>Vous êtes voyageurs ?  Et vous voulez voir ou vous pouvez vous lpoger pour la can 2023? </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annoces</a>
        </p>
    </div>
</div>
<br>
<h3>Nos appartements </h3>

<div class="row ml-3">
    <div class="col-md-3">
        <div class="card bg-light mb-3">
            <div class="card-header text-center">
                3 chambres, <strong>400&euro; / nuit</strong><br>
                <small>Pas ecore noté !</small>
            </div>
                <img src="http://placehold.it/1000x400" alt="HautStanding" sytle="height:200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Haut Standing
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Vitae cumque non aperiam ipsam quibusdam eaque voluptatum.
                            Fugiat nisi alias sapiente!
                        </p>

                        <a href="" class="btn btn-primary">
                            Valider
                        </a>
                </div>
         </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-light mb-3">
            <div class="card-header text-center">
                3 chambres, <strong>400&euro; / nuit</strong><br>
                <small>Pas ecore noté !</small>
            </div>
                <img src="http://placehold.it/1000x400" alt="HautStanding" sytle="height:200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Haut Standing
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Vitae cumque non aperiam ipsam quibusdam eaque voluptatum.
                            Fugiat nisi alias sapiente!
                        </p>

                        <a href="" class="btn btn-primary">
                            Valider
                        </a>
                </div>
         </div>
    </div>
    <div class="col-md-3">
        <div class="card bg-light mb-3">
            <div class="card-header text-center">
                3 chambres, <strong>400&euro; / nuit</strong><br>
                <small>Pas ecore noté !</small>
            </div>
                <img src="http://placehold.it/1000x400" alt="HautStanding" sytle="height:200px; width: 100%; display: block">

                    <div class="card-body">
                        <h4 class="card-title">
                            Haut Standing
                        </h4>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Vitae cumque non aperiam ipsam quibusdam eaque voluptatum.
                            Fugiat nisi alias sapiente!
                        </p>

                        <a href="" class="btn btn-primary">
                            Valider
                        </a>
                </div>
         </div>
    </div>
</div>
<h3>Nos propriétares stars !</h3>

    <div class="row">
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Nano Bolide</h4>
                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="avatar" class="float-left mr-3">

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, 
                            error voluptatibus. Error quos cumque dignissimos voluptatibus molestiae harum dolor consequatur!</p>
                            <a href="" class="btn btn-success float-right">Voir plus !</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title">Nano Bolide</h4>
                    <hr>

                    <div class="card-text">
                        <img src="http://placehold.it/64x64" alt="avatar" class="float-left mr-3">

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, 
                            error voluptatibus. Error quos cumque dignissimos voluptatibus molestiae harum dolor consequatur!</p>
                            <a href="" class="btn btn-success float-right">Voir plus !</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
